body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Helvetica, Helvetica Neue;
  overflow-y: scroll;
  margin: 0px;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

.slacker-news {
}

.spinner-wrapper {
    color: #ff6600;
    margin: 0px auto;
    text-align: center;
    margin-top: 30%;
}

.spinner {}

.sidebar {
    width: 8%;
    height: 100vh;
    float: left;
    background-color: #ff6600;
    color: #333;
    text-align: center;
}

.sidebar .sidebar-logo {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.sidebar a {
    display: block;
    margin-bottom: 40px;
    color: #333;
}

.sidebar a.active {
    color: white;
}

.sidebar a:hover {
    color: white;
}


.sidebar p {
    font-size: 12px;
    margin-top: 10px;
}

.content {
    width: 92%;
    height: 100vh;
    overflow: scroll;
    float:right;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.story {
    padding: 5px 20px 5px 20px;
}

.story:nth-child(odd) {
    background-color: white;
}

.story:nth-child(even) {
    background-color: #CCC;
}

.story h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 0px;
}

.story br {
    color: #333;
}

.story p {
    font-size: 12px;
    color: #828282;
}
